@page
@model TaxCalculatorUI.Pages.AboutModel
@{
}

<div >
    <h3 class="text-center">About</h3>
</div>

<p>Tax Calculator is an ASP.NET Web Application with a simple UI and API, built by Chris Filiatrault for learning purposes.</p>

<p>View the code on GitHub <a href="https://github.com/Chris-Filiatrault/TaxCalculator">here</a>.</p>

<hr />

<strong>To date the project covers topics including:</strong>
<ul class="navbar-nav flex-grow-1">
    <li>MVC pattern</li>
    <li>Inheritance</li>
    <li>Dependency Injection</li>
    <li>Routing</li>
    <li>Interfaces</li>
    <li>Access Modifiers</li>
    <li>Separation of Concerns</li>
    <li>Azure Deployment</li>
    <li>Razor Pages</li>
    <li>Bootstrap</li>
    <li>Unit Testing</li>
</ul>