@page
@model IndexModel
@{
    ViewData["Title"] = "Tax Calculator";
}
@section scripts{
    <partial name="_ValidationScriptsPartial" />
}

<div class="text-center">
    <h2 class="display-4 mb-3">Tax Calculator</h2>
</div>

<br />

<form method="post">
    <div class="mt-4 form-text">
        <h5>Enter total package (Taxable Income + Superannuation):</h5>
        <span class="ml-n2">@Model.CurrencySymbol</span>
        <input type="text" asp-for="@Model.TotalPackage" />
        <span style="color:red" asp-validation-for="@Model.TotalPackage"></span>
    </div>
    <div class="form-group mt-4">
        <h5>Select Pay Frequency:</h5>
        <select class="dropdown" asp-for="@Model.PayFrequency" asp-items="Model.PayFrequencyOptions"></select>
    </div>
    <button type="submit" class="mt-4 btn btn-primary">Calculate</button>
</form>