@page
@model IndexModel
@{
    ViewData["Title"] = "Tax Calculator";
}
@section scripts{
    <partial name="_ValidationScriptsPartial" />
}

<div class="text-center">
    <h1 class="display-4">Tax Calculator</h1>
</div>


<form method="post">

    <br />
    <h5>Enter Total Package (inc Superannuation)</h5>
    <input type="text" asp-for="ValuesObject.TotalPackage" />
    <br />
    <span style="color:red" asp-validation-for="ValuesObject.TotalPackage"></span>

    <br />
    <h5>Enter Pay Frequency (w, f, m)</h5>
    <input type="text" asp-for="ValuesObject.PayFrequency" />
    <br />
    <span style="color:red" asp-validation-for="ValuesObject.PayFrequency"></span>

    <br />
    <br />

    <button type="submit">Calculate</button>
</form>