@page
@model IndexModel
@{
    ViewData["Title"] = "Tax Calculator";
}
@section scripts{
    <partial name="_ValidationScriptsPartial" />
}

<div class="text-center">
    <h1 class="display-4">Tax Calculator</h1>
</div>


<form method="post">
    <br />
    <h5>Enter total package:</h5>
    <input type="text" asp-for="@Model.TotalPackage" />
    <br />
    <span style="color:red" asp-validation-for="@Model.TotalPackage"></span>

    <br />

    <div class="form-group">
    <h5>Select Pay Frequency:</h5>
    <select asp-for="@Model.PayFrequency"
            asp-items="Model.PayFrequencyOptions">
    </select>
    </div>

    <br />

    <button type="submit">Calculate</button>
</form>